*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.logo{
    width: 100px;
    height: 100px;
    margin-left: 70px;
}

.cabecalho{
    background-color: #35326E;
    padding: 20px;
}

.cabecalho-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho-menu{
    list-style: none;
    display: flex;
    margin-right: 550px;
}

.cabecalho-menu li{
    margin-left: 60px;
}

.cabecalho-menu li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.sessao-fantasias{
    padding: 10px;
}

.sessao-titulo{
    font-size: 2rem;
    margin-bottom: 10px;
}

.titulo-cards{
    margin-top: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.lista-fantasias{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.item-fantasia{
    background: #fff;
    border-radius: 20px;
    padding: 15px;
    width: 250px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.textofantasia{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.imagemfantasia{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
}

footer{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #35326E;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
    margin-top: auto;
}