* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #C2E4F0;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}



.logo {
    width: 80px;
    height: 80px;
    margin-left: 70px;
}

.cabecalho {
    background-color: #35326E;
    padding: 20px;
}

.cabecalho-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho-menu {
    list-style: none;
    display: flex;
    margin-right: 500px;
}

.cabecalho-menu li {
    margin-left: 50px;
}

.cabecalho-menu li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.banner {
    background-image: url(/assets/MagikaBanner.png);
    background-size: cover;
    height: 400px;
    /* width: 800px; */
    /* margin-top: 15px; */
    /* margin-left: 350px; */
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    transition: background-image 1s ease-in-out;
    color: black;
    font-size: 13px;

}

.banner-overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* camada que a sobreposição fique sempre sobre a imagem */
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: ; */
    z-index: 1;
}

.descricao-banner {
    /* width: 600px; */
    position: relative;
    z-index: 2;
    color: black;
    margin-bottom: 30px;
    font-size: 12px;
    margin-top: -20px;
}

.texto-banner {
    font-size: 2.3rem;
    margin-bottom: 20px;
    margin-top: 60px;
}

.botão-banner {
    background: rgb(200, 0.10, 0.110);
    ;
    padding: 10px 20px;
    border-radius: 25px;
    color: white;
    margin: 0 10px;
    border: none;
    /* height: 60px; */
    /* width: 150px;  */
    font-size: 1.3rem;

    box-shadow: 100px;
    /* justify-content: center; */
    display: flex;
    margin-left: 707px;
}

.logo-banner {
    height: 150px;
    margin-top: 40px;
    margin-right: 1px;
}

.botão-banner:hover {
    box-shadow: 5px 5px 5px black;
    transition: 0.5s;
    transform: translateY(5px);
    cursor: pointer;
    /* transform: translate(5px); */
    /* transform: scale(1000000%); */
}

.sessao-fantasias {
    padding: 20px;
    color: #35326E;
    font-size: 20px;
}

.sessao-titulo {
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 10px;
    color: #35326E;
}

.titulo-cards {
    margin-top: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.lista-fantasias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item-fantasia {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    padding: 20px;
    flex: 0 0 300px;
    max-width: 250px;
    order: 2;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    margin-top: 100px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    display: inline-flex;
    grid-template-columns: 30px 60px;
    margin-left: 30px;
    flex-wrap: wrap;
}

.textofantasia {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

.imagemfantasia {
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    width: 200px;
}

footer {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #35326E;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 30px;
    font-size: 0.9rem;
    margin-top: auto;
}

@media screen and (max-width: 900px) {}