*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.logo{
    width: 150px;
    height: 150px;
    margin-left: 20px;
}

.cabecalho{
    background-color: #35326E;
    padding: 20px;
}

.cabecalho-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho-menu{
    list-style: none;
    display: flex;
    margin-right: 550px;
}

.cabecalho-menu li{
    margin-left: 60px;
}

.cabecalho-menu li a{
    color: white;
    text-decoration: none;
}

.banner{
    background-image: url(/assets/disney.jpg);
    background-size: cover;
    height: 550px;
    margin-top: 15px;
    /* margin-left: 350px; */
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    transition: background-image 1s ease-in-out;
    color: #fff;
}